.collection-hero__wrapper {
  position: relative;
  display: flex;
}
.collection-hero__wrapper--with-image {
  border-radius: var(--border-radius-block);
  overflow: hidden;
}
.collection-hero__wrapper--with-image::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--padding-bottom);
}
.collection-hero__wrapper--with-image .breadcrumb {
  margin: 0;
  margin-bottom: auto;
}
.collection-hero__wrapper--with-image .collection-hero__text-wrapper {
  padding: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .collection-hero__wrapper--with-image .collection-hero__text-wrapper {
    padding: 3.2rem;
  }
}
.collection-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 3;
}
.collection-hero__title {
  max-width: 63.2rem;
  text-align: center;
}
.collection-hero__description {
  width: 100%;
  color: rgb(var(--color-foreground));
  margin-top: 0.8rem;
  overflow: hidden;
  text-align: center;
}
.collection-hero__description.rte img,
.collection-hero__description.rte video {
  max-width: 100%;
}
.collection-hero__description.rte table {
  max-width: 100%;
}
.collection-hero__description.rte table.table-gallery {
  max-width: 100%;
}
.collection-hero__image-wrapper {
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: var(--border-radius-block);
  overflow: hidden;
}
.collection-hero__overlay {
  position: absolute;
  z-index: 2;
  inset: 0;
  border-radius: var(--border-radius-block);
  overflow: hidden;
  background-color: rgb(var(--color-overlay));
}
.collection-hero__featured-collections {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 2.4rem;
  max-width: 75rem;
}
.collection-hero__featured-collection {
  text-decoration: none;
  display: block;
  padding: 0.8rem 1.4rem;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: 0.1rem solid rgb(var(--color-border));
  border-radius: 5rem;
  transition: color var(--duration-default), background-color var(--duration-default), border-color var(--duration-default);
}
.collection-hero__featured-collection--active {
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-foreground));
  border-color: rgb(var(--color-foreground));
}
@media screen and (hover: hover) and (pointer: fine) {
  .collection-hero__featured-collection:hover {
    color: rgb(var(--color-background));
    background-color: rgb(var(--color-foreground));
    border-color: rgb(var(--color-foreground));
  }
}
.collection-hero__wrapper--with-image .collection-hero__featured-collection {
  border: 0.1rem solid rgb(var(--color-foreground), 0.4);
}