.image-tabs__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (min-width: 990px) {
  .image-tabs__wrapper {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.6rem;
  }
}
.image-tabs__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}
@media screen and (min-width: 990px) {
  .image-tabs__content {
    width: calc(50% - 0.8rem);
    background-color: rgb(var(--color-background-secondary));
    border-radius: var(--border-radius-block);
    overflow: hidden;
  }
  .image-tabs__content.content-first {
    order: -1;
  }
}
.image-tabs__content-static {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.image-tabs__content-blocks {
  width: 100%;
  position: relative;
}
.image-tabs__content-blocks-wrapper {
  width: 100%;
  display: flex;
  gap: 0;
}
@media screen and (min-width: 990px) {
  .image-tabs__content-blocks-wrapper {
    flex-direction: column;
    padding: 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .image-tabs__content-blocks-wrapper {
    padding: 2.4rem 4rem;
  }
}
.image-tabs__heading {
  margin: 0;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 990px) {
  .image-tabs__heading {
    margin: 0;
  }
}
.image-tabs__block {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: var(--border-radius-block);
  background-color: rgb(var(--color-background-secondary));
  box-sizing: border-box;
}
@media screen and (min-width: 990px) {
  .image-tabs__block {
    gap: 1.6rem;
    padding: 4rem 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 0.1rem solid rgb(var(--color-border));
  }
  .image-tabs__block--active:not(:first-child) .image-tabs__block-info, .image-tabs__block--active:not(:first-child) .image-tabs__block-icon {
    opacity: var(--hover-opacity);
  }
}
@media screen and (min-width: 990px) and (hover: hover) and (pointer: fine) {
  .image-tabs__block:hover .image-tabs__block-info, .image-tabs__block:hover .image-tabs__block-icon {
    opacity: var(--hover-opacity);
  }
}
@media screen and (min-width: 990px) {
  .image-tabs__block:last-child {
    border-bottom: none;
  }
}
@media screen and (max-width: 989px) {
  .image-tabs__block.swiper-slide {
    height: auto;
    padding-bottom: 4.6rem;
  }
}
.image-tabs__block-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  transition: opacity var(--duration-default) cubic-bezier(0.4, 0, 0.25, 1);
}
@media screen and (min-width: 1200px) {
  .image-tabs__block-icon {
    width: 10rem;
    height: 10rem;
  }
}
.image-tabs__block-icon img,
.image-tabs__block-icon svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.image-tabs__block-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.image-tabs__block-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: opacity var(--duration-default) cubic-bezier(0.4, 0, 0.25, 1);
}
.image-tabs__block-heading {
  margin: 0;
}
.image-tabs__block-text {
  color: rgb(var(--color-foreground));
  word-break: break-word;
}
.image-tabs__block-button {
  color: rgb(var(--color-foreground));
}
.image-tabs__media {
  position: relative;
  border-radius: var(--border-radius-block);
  overflow: hidden;
  aspect-ratio: 4/3;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .image-tabs__media {
    aspect-ratio: 4/3;
    width: calc(50% - 0.8rem);
  }
}
.image-tabs__image {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: var(--border-radius-block);
  overflow: hidden;
}
.image-tabs__image svg,
.image-tabs__image img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: var(--focal_point);
  transition: transform var(--duration-default);
}
@media screen and (min-width: 990px) {
  .image-tabs__image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: scale(0.98);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.25, 1) 0ms, opacity var(--duration-long) cubic-bezier(0.4, 0, 0.25, 1), visibility var(--duration-long) cubic-bezier(0.4, 0, 0.25, 1);
  }
  .image-tabs__image--active {
    transform: scale(1);
    opacity: 1;
  }
}
.image-tabs__pagination {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  z-index: 2;
}
@media screen and (min-width: 990px) {
  .image-tabs__pagination {
    display: none !important;
  }
}
.image-tabs .swiper-wrapper {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  .image-tabs__block-icon-item:first-child {
    display: block;
  }
  .image-tabs__block-icon-item:last-child {
    display: none;
  }
  .image-tabs__block-icon-item:only-child {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  .image-tabs__block-icon-item:first-child {
    display: none;
  }
  .image-tabs__block-icon-item:last-child {
    display: block;
  }
  .image-tabs__block-icon-item:only-child {
    display: block;
  }
}
[data-scheme=light] .image-tabs__block-icon-item:first-child {
  display: block;
}
[data-scheme=light] .image-tabs__block-icon-item:last-child {
  display: none;
}
[data-scheme=light] .image-tabs__block-icon-item:only-child {
  display: block;
}

[data-scheme=dark] .image-tabs__block-icon-item:first-child {
  display: none;
}
[data-scheme=dark] .image-tabs__block-icon-item:last-child {
  display: block;
}
[data-scheme=dark] .image-tabs__block-icon-item:only-child {
  display: block;
}