.blog-posts {
  width: 100%;
  display: block;
  overflow: hidden;
}
.blog-posts.blog-posts--visible-overflow .swiper.blog-posts-container.swiper-initialized {
  overflow: visible;
}
.blog-posts.blog-posts--visible-overflow .swiper.blog-posts-container .swiper-slide.blog-posts-card {
  width: calc(100% - 25px);
}
.blog-posts.blog-posts--visible-overflow .swiper.blog-posts-container .swiper-slide.blog-posts-card:only-child {
  width: 100%;
}

.blog-posts-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
}

.blog-posts-content-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

.blog-posts-container {
  width: 100%;
}

.blog-posts-grid {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  column-gap: 1.6rem;
  row-gap: 3.6rem;
}
@media screen and (max-width: 749px) {
  .blog-posts-grid.swiper-wrapper {
    display: flex;
    gap: 0;
  }
}
@media (min-width: 750px) {
  .blog-posts-grid {
    row-gap: 4.8rem;
  }
}
@media (min-width: 1200px) {
  .blog-posts-grid {
    row-gap: 6.4rem;
  }
}
.blog-posts-grid--1 {
  grid-template-columns: 1fr;
}
.blog-posts-grid--2 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog-posts-grid--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.blog-posts-grid--3 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog-posts-grid--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1100px) {
  .blog-posts-grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.blog-posts-grid--4 {
  grid-template-columns: 1fr;
}
@media (min-width: 750px) {
  .blog-posts-grid--4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .blog-posts-grid--4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .blog-posts-grid--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blog-posts-card {
  display: block;
}

.blog-posts-nav-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 2rem;
}
@media (min-width: 750px) {
  .blog-posts-nav-buttons {
    display: none;
  }
}

.blog-posts-nav-button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--duration-default) ease;
}
.blog-posts-nav-button--disabled {
  transition: opacity var(--duration-default) ease;
  opacity: 0.5;
  pointer-events: none;
}
.blog-posts-nav-button .icon {
  width: 3.2rem;
  height: 3.2rem;
}
@media screen and (pointer: fine) {
  .blog-posts-nav-button {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
  }
  .blog-posts-nav-button:hover {
    opacity: 0.6;
  }
}
.blog-posts-nav-button--prev .icon {
  transform: rotate(180deg);
}
@media screen and (pointer: fine) {
  .blog-posts-nav-button--prev:hover {
    transform: translateX(-0.2rem);
  }
}
@media screen and (pointer: fine) {
  .blog-posts-nav-button--next:hover {
    transform: translateX(0.2rem);
  }
}

html:not(.no-js) .blog-posts.animate-on-scroll .blog-posts-container .blog-posts-card {
  position: relative;
}
html:not(.no-js) .blog-posts.animate-on-scroll .blog-posts-container .article-card {
  position: relative;
  transform: translateY(20%);
  transition: transform 1.2s linear(0, 0.1538 4.09%, 0.2926 8.29%, 0.4173 12.63%, 0.5282 17.12%, 0.6255 21.77%, 0.7099 26.61%, 0.782 31.67%, 0.8425 37%, 0.8887 42.23%, 0.9257 47.79%, 0.9543 53.78%, 0.9752 60.32%, 0.9883 67.11%, 0.9961 75%, 1) var(--blog-posts-card-delay, 0s);
}
html:not(.no-js) .blog-posts.animate-on-scroll .blog-posts-container.animated .article-card {
  transform: translateY(0);
}