.password-modal .modal__content {
  z-index: 4;
}

.password-modal__content-heading {
  margin-bottom: 0.8rem;
}

.password-modal__wrapper {
  position: relative;
  width: 100%;
}

/* Password Section */
.full-height {
  height: 100%;
}

.password {
  background-color: rgb(var(--color-background));
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
}
.password-link svg path {
  stroke-width: 2;
}

.password-modal {
  background-color: rgb(var(--color-background));
}

.password-modal__content {
  max-width: 42.5rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 4.5rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

@media (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}
.password-modal .password-form {
  max-width: 50rem;
}

.password-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2rem;
  width: 100%;
}

.password-modal input[aria-invalid=true] {
  border-color: rgba(var(--color-error-border));
  background-color: rgb(var(--color-error-background));
}

.password-modal .form__message {
  font-size: 1.2rem;
  color: rgb(var(--color-error));
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 0;
  margin-top: 0;
}

.password-button {
  flex-grow: 1;
}

@media (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}
.password-logo {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .password-logo {
    margin-bottom: 0;
  }
}
.password-heading {
  margin-top: 5rem;
  font-weight: 400;
}

.password-main {
  flex-grow: 1;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 990px) {
  .password-main {
    padding-top: var(--spaced-section);
    padding-bottom: var(--spaced-section);
  }
}
.password-main .rte a {
  color: rgba(var(--color-foreground), 0.6);
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: var(--duration-short) ease;
}
@media screen and (pointer: fine) {
  .password-main .rte a:hover {
    color: rgb(var(--color-foreground));
    text-decoration-color: rgb(var(--color-foreground));
  }
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  display: flex;
  align-items: center;
  height: 100%;
}

.field__label {
  letter-spacing: -0.04em;
}

.password__footer-text a {
  font-size: 1.4rem;
  transition: background-size var(--duration-default) ease-in-out, opacity var(--duration-default) ease-in-out;
}
.password__footer-text--with-link a {
  display: inline;
  color: rgba(var(--color-foreground));
  background-position: left 100%;
  background-size: 100% 5%;
  background-image: linear-gradient(to right, rgba(var(--color-foreground)) 0%, rgba(var(--color-foreground)) 100%);
  background-repeat: no-repeat;
  text-decoration: none;
}
@media screen and (pointer: fine) {
  .password__footer-text--with-link a:hover {
    background-size: 0% 5%;
    background-position: right 100%;
    opacity: 0.8;
  }
}
@media screen and (pointer: fine) {
  .password__footer-text--with-shopify a:hover {
    opacity: 0.8;
  }
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: rgb(var(--color-foreground));
}

.password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  color: rgb(var(--color-foreground));
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-text {
  margin-top: 1.2rem;
}

.modal__toggle {
  z-index: 5;
  list-style-type: none;
  cursor: pointer;
  transition: opacity var(--duration-default);
}
@media screen and (pointer: fine) {
  .modal__toggle:hover {
    opacity: var(--hover-opacity);
  }
}
.modal__toggle-open {
  display: flex;
}
details[open].modal .modal__toggle-open {
  display: none;
}
.modal__toggle-close {
  display: none;
}
.modal__toggle-close svg {
  height: 2.4rem;
  width: 2.4rem;
}
details[open].modal .modal__toggle-close {
  display: flex;
}
.modal__toggle::-webkit-details-marker {
  display: none;
}

.header-wrapper {
  position: unset !important;
}

.password-header {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(var(--color-foreground));
  margin: 0 auto;
}

@media (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
    text-align: center;
  }
}
.icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground));
}