.steps__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .steps__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.8rem;
  }
}
.steps .titles + .content {
  margin-top: 2.4rem;
}
@media screen and (min-width: 750px) {
  .steps .titles + .content {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .steps .titles + .content {
    margin-top: 4rem;
  }
}
.steps__items {
  display: none;
}
@media screen and (min-width: 990px) {
  .steps__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 21.5625%;
    position: sticky;
    top: calc(var(--header-height) + 1.6rem);
  }
  .steps__items::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-color: rgba(var(--color-scrollbar), 0.15);
  }
}
.steps__items-line {
  display: none;
  --max_height_bullet: 0px;
  --pos_y_bullet: 0px;
}
@media screen and (min-width: 990px) {
  .steps__items-line {
    display: block;
    position: absolute;
    z-index: 3;
    width: 0.2rem;
    height: 100%;
    background-color: rgb(var(--color-scrollbar));
    max-height: var(--max_height_bullet);
    top: var(--pos_y_bullet);
    transition: top 700ms cubic-bezier(0.4, 0, 0.25, 1), max-height 700ms cubic-bezier(0.4, 0, 0.25, 1);
  }
}
.steps__item {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.9rem 0.8rem 2.9rem 4rem;
  opacity: 0.5;
  transition: opacity 700ms cubic-bezier(0.4, 0, 0.25, 1);
}
.steps__item--active {
  opacity: 1;
}
@media screen and (min-width: 990px) and (hover: hover) and (pointer: fine) {
  .steps__item {
    cursor: pointer;
  }
  .steps__item:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 990px) and (max-height: 700px) {
  .steps__item {
    padding: 1.6rem 4rem;
  }
}
.steps__item-heading {
  max-width: 41.6rem;
}
.steps__item-description {
  max-width: 41.6rem;
  word-break: break-word;
  color: rgb(var(--color-foreground-secondary));
}
.steps__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 990px) {
  .steps__contents {
    width: 74.6875%;
  }
}
.steps__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 3.2rem;
}
@media screen and (min-width: 990px) {
  .steps__content {
    padding-top: 6.4rem;
    gap: 4rem;
    min-height: 50vh;
    min-height: 50svh;
  }
  .steps__content:first-child {
    padding-top: 0;
    min-height: calc(50vh - 6.4rem);
    min-height: calc(50svh - 6.4rem);
  }
}
.steps__content:first-child {
  padding-top: 0;
}
.steps__content-image {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius-block);
}
.steps__content-image-item {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--focal_point);
}
.steps__content-image::after {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--padding_bottom);
}
.steps__content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  opacity: 0;
  transition: opacity 1500ms cubic-bezier(0.4, 0, 0.25, 1);
}
.steps__content.step-viewed .steps__content-inner {
  opacity: 1;
}
.steps__content-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (min-width: 990px) {
  .steps__content-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
}
.steps__content-heading {
  max-width: 41.6rem;
}
.steps__content-heading a {
  display: inline;
  color: rgba(var(--color-foreground));
  transition: background-size var(--duration-default) ease-in-out, opacity var(--duration-default) ease-in-out;
  background-position: left 90%;
  background-size: 100% 5%;
  background-image: linear-gradient(to right, rgba(var(--color-foreground)) 0%, rgba(var(--color-foreground)) 100%);
  background-repeat: no-repeat;
  text-decoration: none;
}
@media screen and (pointer: fine) {
  .steps__content-heading a:hover {
    background-size: 0% 5%;
    background-position: right 90%;
    opacity: 0.8;
  }
}
.steps__content-description {
  max-width: 41.6rem;
  color: rgb(var(--color-foreground-secondary));
}
.steps__content-description p {
  color: rgb(var(--color-foreground-secondary)) !important;
}
.steps__content-button {
  color: rgb(var(--color-foreground));
}
.steps__content-mobile {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 1.2rem;
  border-left: 0.1rem solid rgb(var(--color-scrollbar));
}
@media screen and (min-width: 990px) {
  .steps__content-mobile {
    display: none;
  }
}